@media only screen and (min-width: 38rem) {

    .days-container,
    .day-form-section,
    .calculator-container {
        border: solid 2px var(--header-color);
        border-radius: .5rem;
        padding: 8px;
    }



    /* footer {} will need work to align correctly on larger screens */

    h2 {
        margin-top: 0px;
    }

    .main-container {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .symbol {
        display: grid;
        position: relative;
        /* left: 21rem;
        top: -3.75rem; */
        background-color: white;
        padding: 5px;
        border-radius: 10px;
    }



}